-- vim: ts=4 sw=4 noet ai cindent syntax=lua
--[[
Conky, a system monitor, based on torsmo

Any original torsmo code is licensed under the BSD license

All code written since the fork of torsmo is licensed under the GPL

Please see COPYING for details

Copyright (c) 2004, Hannu Saransaari and Lauri Hakkarainen
Copyright (c) 2005-2012 Brenden Matthews, Philip Kovacs, et. al. (see AUTHORS)
All rights reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
]]

conky.config = {
    alignment = 'top_right',

    double_buffer = true,

    font = 'DejaVu Sans Mono:size=9',
    format_human_readable = true,
    default_color = '#999999',

    background = false,
    border_width = 1,

    cpu_avg_samples = 2,
	default_color = 'white',
    default_outline_color = 'white',
    default_shade_color = 'white',
    draw_borders = false,
    draw_graph_borders = true,
    draw_outline = false,
    draw_shades = false,
    use_xft = true,

    gap_x = 5,
    gap_y = 20,
    minimum_height = 5,
	minimum_width = 5,
    net_avg_samples = 2,
    no_buffers = true,
    out_to_console = false,
    out_to_stderr = false,
    extra_newline = false,

    own_window = true,
    own_window_class = 'Conky',
    own_window_type = 'desktop',
    own_window_transparent = true,
    own_window_argb_visual = true,

    stippled_borders = 0,
    update_interval = 1.0,
    uppercase = false,
    use_spacer = 'none',
    show_graph_scale = false,
    show_graph_range = false
}

conky.text = [[
${color #999999}
$nodename (${user_number}) ${alignr}$uptime

[BAT] $hr
 ${battery} ${battery_time} ${battery_bar}

[RAM] $hr
 $mem/$memmax - $memperc% ${membar 4}
 ${memgraph}
 Swap: $swap/$swapmax - $swapperc% ${swapbar 4}

[CPU] $hr
 ${freq_g 0}GHz ${cpu cpu0}% ${cpubar cpu0}
 ${cpugraph cpu0}
 ${freq_g 1}GHz   ${freq_g 2}GHz   ${freq_g 3}GHz   ${freq_g 4}GHz
 ${cpugraph cpu1 20,60} ${cpugraph cpu2 20,60} ${cpugraph cpu3 20,60} ${cpugraph cpu4 20,60}
 ${freq_g 5}GHz   ${freq_g 6}GHz   ${freq_g 7}GHz   ${freq_g 8}GHz
 ${cpugraph cpu5 20,60} ${cpugraph cpu6 20,60} ${cpugraph cpu7 20,60} ${cpugraph cpu8 20,60}
[FS] $hr
 root: ${fs_used /}/${fs_size /} ${fs_bar 6 /}
 home: ${fs_used /home}/${fs_size /home} ${fs_bar 6 /home}
 ${diskiograph}
[NET] $hr
 ${wireless_essid} ${wireless_link_qual wlp4s0}/${wireless_link_qual_max wlp4s0} ${wireless_link_qual_perc wlp4s0}%${alignr}VPN: ${if_up tun0}ON${else}OFF${endif}
 ${addrs wlp4s0}
 Up: ${upspeed wlp4s0} ${tab 75 }Down: ${downspeed wlp4s0}
 ${upspeedgraph wlp4s0 20,120} $alignr${downspeedgraph wlp4s0 20,120}
[Processes $processes/$running_processes] $hr

Name               PID    CPU%   MEM%
 ${top name 1} ${top pid 1} ${top cpu 1} ${top mem 1}
 ${top name 2} ${top pid 2} ${top cpu 2} ${top mem 2}
 ${top name 3} ${top pid 3} ${top cpu 3} ${top mem 3}
 ${top name 4} ${top pid 4} ${top cpu 4} ${top mem 4}
 ${top name 5} ${top pid 5} ${top cpu 5} ${top mem 5}
 ${top name 6} ${top pid 6} ${top cpu 6} ${top mem 6}
 ${top name 7} ${top pid 7} ${top cpu 7} ${top mem 7}
 ${top name 8} ${top pid 8} ${top cpu 8} ${top mem 8}
 ${top name 9} ${top pid 9} ${top cpu 9} ${top mem 9}
 ${top name 10} ${top pid 10} ${top cpu 10} ${top mem 10}

Name               PID    CPU%   MEM%
 ${top_mem name 1} ${top_mem pid 1} ${top_mem cpu 1} ${top_mem mem 1}
 ${top_mem name 2} ${top_mem pid 2} ${top_mem cpu 2} ${top_mem mem 2}
 ${top_mem name 3} ${top_mem pid 3} ${top_mem cpu 3} ${top_mem mem 3}
 ${top_mem name 4} ${top_mem pid 4} ${top_mem cpu 4} ${top_mem mem 4}
 ${top_mem name 5} ${top_mem pid 5} ${top_mem cpu 5} ${top_mem mem 5}
 ${top_mem name 6} ${top_mem pid 6} ${top_mem cpu 6} ${top_mem mem 6}
 ${top_mem name 7} ${top_mem pid 7} ${top_mem cpu 7} ${top_mem mem 7}
 ${top_mem name 8} ${top_mem pid 8} ${top_mem cpu 8} ${top_mem mem 8}
 ${top_mem name 9} ${top_mem pid 9} ${top_mem cpu 9} ${top_mem mem 9}
 ${top_mem name 10} ${top_mem pid 10} ${top_mem cpu 10} ${top_mem mem 10}
]]
